
html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
 }

header {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: burlywood;
    padding: 24px; /*add text hohoho*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
}

.book-cover {
    height: auto;
    width: 200px;
    grid-column: 1/2;
    grid-row: 1/6;

}

.main-page-book-review {
    background-color: white;
    padding: 24px;
    border: 1px solid lightblue;

    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;

}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}